<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="styles.css?v=1.0.1">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
  <title>Putar Lagu</title>
</head>

<body>
  <div id="app" class="wrapper container-fluid"
    :class="{'dark-mode': mode == 'dark-mode', 'light-mode' : mode == 'light-mode'}" v-cloak>
    <div class="row">
      <div class="col-md-4 order-1 border-right-1">
        <section class="d-flex flex-row justify-content-between align-items-center">
          <h1>Putar Lagu</h1>
          <div class="btn-group">
            <button type="button" class="btn btn-link text-info dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-cog mr-2"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:;" v-on:click="toggleMode()">
                <span v-if="mode != 'dark-mode'"><i class="fas fa-moon" style="min-width: 30px"></i> Dark Mode</span>
                <span v-if="mode == 'dark-mode'"><i class="far fa-moon" style="min-width: 30px"></i> Light Mode</span>
              </a>
              <a class="dropdown-item" href="javascript:;" onclick="login(true)">
                <i class="fas fa-user-edit" style="min-width: 30px"></i> Change Nickname
              </a>
              <a class="dropdown-item" href="javascript:;" onclick="restartServer()">
                <i class="fas fa-redo" style="min-width: 30px"></i> Restart Server
              </a>
            </div>
          </div>

        </section>
        <section id="current-playing">
          <div v-if="!currentPlaying || !state" class="d-flex flex-row align-items-center my-3">
            <img src="waiting.gif" width="40%" />
            <h3>Waiting...</h3>
          </div>
          <div v-if="currentPlaying && state" class="row no-gutters my-3">
            <div class="col" style="max-width: 120px">
              <div class="d-flex flex-column align-items-center mr-2">
                <img :src="currentPlaying.thumbnailVideo" class="cover-video"
                  :class="{'spin': state && !state.isPaused }" />
                <div v-if="state" class="badge badge-secondary text-center my-2">
                  {{state.text}}
                </div>
              </div>
            </div>
            <div class="col">
              <div class="info-playing">
                <h3 class="title">{{currentPlaying.title}}</h3>
                <span>{{currentPlaying.author}}</span>
                <hr class="mx-0 my-1" />
                <div class="text-sm text-info">
                  <button v-if="queueList.length > 0" onclick="skip()" class="btn btn-sm btn-danger mr-3"
                    style="font-size: .8rem; padding: 0 1rem;">Skip</button>
                  <small>
                    <i class="text-info fas fa-user-plus"></i>
                    {{currentPlaying.addedBy}}
                  </small>
                </div>

              </div>
            </div>
          </div>
        </section>
        <section id="search-queue">
          <div class="add-queue">
            <div class="input-group mb-3">
              <input type="url" id="url" value="" v-model="searchValue" @focus="onFocus = true" @blur="falseDelay()"
                autocomplete="off" class="form-control input-url" placeholder="Url Youtube" aria-label="Url Youtube"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-dark" type="button" onclick="addQueue()" id="btnAddQueue">Add Queue</button>
              </div>
            </div>
            <div v-if="searchResults.length > 0 && onFocus" class="search-list">
              <div v-for="search in searchResults" :key="search.id" class="d-flex flex-row mb-1 search-result"
                v-on:click="addQueueSearch(search)">
                <img :src="search.snippet.thumbnails.default.url" width="100" class="meta-video-thumb mr-2" />
                <div class="meta-video-detail w-100">
                  <h3 class="title">{{ search.title }}</h3>
                  <div class="d-flex flex-row align-items-center">
                    <span class="badge badge-dark mr-2">{{ search.duration_raw }}</span>
                    <span class="badge badge-secondary">{{ search.snippet.publishedAt }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="d-flex justify-content-between">
          <h2 class="flex-grow-1">Queue</h2>
          <button onclick="getQueue()" class="btn btn-link text-info"><i class="fas fa-sync"></i> Refresh</button>
        </div>
        <div v-if="queueList.length < 1">
          <div class="d-flex align-items-center justify-content-center" style="height: 40vh;">
            Waiting...
          </div>
        </div>
        <transition name="fade">
          <div v-if="queueList.length > 0" class="queue-list">
            <a v-for="queue in queueList" :key="queue.idVideo" v-on:click="removeQueueVue(queue)">
              <div class="d-flex align-items-start meta-video slide slide-in mb-2">
                <img :src="queue.thumbnailVideo" width="100" class="meta-video-thumb mr-2" />
                <div class="meta-video-detail w-100">
                  <h3 class="title">{{ queue.title }}</h3>
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <span class="author">{{ queue.author }}</span>
                    <span class="badge badge-primary mx-2"><i class="fa fa-plus" aria-hidden="true"></i>
                      {{queue.addedBy}}</span>
                  </div>

                </div>
              </div>
            </a>
          </div>
        </transition>

      </div>
      <div class="col-md-4 order-2 border-right-1 mt-2">
        <div class="d-flex justify-content-between">
          <h2 class="flex-grow-1">History</h2>
          <button v-on:click="randomAddQueue()" class="btn btn-link text-info"><i class="fas fa-random"></i> Add
            Random</button>
        </div>
        <div v-if="historyList.length < 1">
          <div class="d-flex align-items-center justify-content-center" style="height: 80vh;">
            No History
          </div>
        </div>
        <transition name="fade">
          <div v-if="historyList.length > 0" class="history-list">
            <a v-for="history in historyList" :key="history.idVideo" v-on:click="addQueueVue(history);">
              <div class="d-flex align-items-start meta-video slide-inverse slide-inverse-in mb-2">
                <img :src="history.thumbnailVideo" width="100" class="meta-video-thumb mr-2" />
                <div class="meta-video-detail w-100">
                  <h3 class="title">{{ history.title }}</h3>
                  <div class="d-flex flex-row justify-content-between align-items-center">
                    <span class="author">{{ history.author }}</span>
                    <span v-if="history.skipBy" class="badge badge-danger mx-2"><i class="fa fa-ban"></i>
                      {{history.skipBy}}</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </transition>

      </div>

      <div class="col-md-4 order-3 mt-2">
        <div class="d-flex justify-content-between">
          <h2 class="flex-grow-1">Chatbox</h2>
        </div>
        <section id="chat-box" class="d-flex flex-column mt-2">
          <div class="chat-messages">
            <div v-for="chat in chatList" class="chat mb-2"
              :class="{'chat-right' : chat && chat.user && chat.user.visitorID == currentUser.visitorID}">
              <span class="font-weight: bold;" v-if="chat && chat.user">{{chat.user.name}}</span>
              <div class="chat-bubble chat-direction" :class="{'bg-danger': chat.type == 'skip_notification'}">
                {{chat.message}}
              </div>
            </div>
          </div>
          <div class="chat-typing">
            <div v-if="getIsTyping()" class="w-100 text-center my-1"
              style="font-size: .8rem; font-style: italic; color: #999;">{{ getIsTyping() }}</div>
          </div>
          <div class="chat-input-box position position-relative d-inline-block">
            <emoji-picker @emoji="insertEmoji" :search="searchEmoji">
              <div
                class="emoji-invoker"
                slot="emoji-invoker"
                slot-scope="{ events: { click: clickEvent } }"
                @click.stop="clickEvent"
              >
                <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/>
                </svg>
              </div>
              <div slot="emoji-picker" slot-scope="{ emojis, insert, display }">
                <div class="emoji-picker" :style="{ top: display.y + 'px', left: display.x + 'px' }">
                  <div class="emoji-picker__search">
                    <input type="text" v-model="searchEmoji" v-focus>
                  </div>
                  <div>
                    <div v-for="(emojiGroup, category) in emojis" :key="category">
                      <h5>{{ category }}</h5>
                      <div class="emojis">
                        <span
                          v-for="(emoji, emojiName) in emojiGroup"
                          :key="emojiName"
                          @click="insertEmoji(emoji)"
                          :title="emojiName"
                        >{{ emoji }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </emoji-picker>
            <div class="input-group">
              <textarea v-model="chatInput" v-on:keyup.enter="sendMessage()" class="form-control chat-input"
                placeholder="Type your message"></textarea>

              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" v-on:click="sendMessage()"><i
                    class="far fa-paper-plane"></i></button>
              </div>
            </div>
          </div>
        </section>
        <div v-if="users.length > 0" class="users-list my-3">
          Online <br />
          <a v-for="user in users" :key="user.id" class="badge badge-warning mr-2">
            <i class="fa fa-user"></i>
            {{user.name}}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="snackbar">Notification</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"
    integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://unpkg.com/vue-emoji-picker/dist/vue-emoji-picker.js"></script>
  <script src="main.js?v=1.0.2"></script>
</body>

</html>